{% extends "base.html" %}
{% load i18n mezzanine_tags keyword_tags pages_tags staticfiles %}

{% block meta_title %}{{ page.meta_title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
    {% keywords_for page as keywords %}
    {% for keyword in keywords %}
        {% if not forloop.first %}, {% endif %}
        {{ keyword }}
    {% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
    {{ page.description }}
{% endmetablock %}{% endblock %}

{% block heading %}
    <div id="heading">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="heading-content">
                        <h2>{{ page.title }}</h2>
                        {% block breadcrumb_menu %}{% page_menu "pages/menus/breadcrumb.html" %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading-section">
                    {% block title %}
                        {% editable page.title %}<h3>{{ page.title }}</h3>{% endeditable %}
                    {% endblock %}
                    <img src="{% static "img/under-heading.png" %}" alt="">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {% block content %}{% endblock %}
            </div>
        </div>

        <div class="space50"></div>

    </div>
{% endblock %}
