body{width:100%;height:100%;}
html{width:100%;height:100%;}
/*@media(min-width:767px){.navbar{padding:20px 0;-webkit-transition:background .5s ease-in-out,padding .5s ease-in-out;-moz-transition:background .5s ease-in-out,padding .5s ease-in-out;transition:background .5s ease-in-out,padding .5s ease-in-out;}*/
/*.top-nav-collapse{padding:0;}*/
/*}*/
/*#slide{height:100%;}*/
/*.about-section{text-align:center;background: url("../img/about-back.jpg") no-repeat;height: 100%}*/
/*.services-section{text-align:center;}*/
/*.contact-section{text-align:center;}*/