body, p, a, h1 {
    font-family: "Lantinghei SC", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei Light", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

.navbar-default .navbar-brand {
    color: #f78e21;
    padding: 0px 20px;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #5e5e5e;
    background-color: transparent;
}

.navbar-default .navbar-nav > .active > a {
    background-image: linear-gradient(to bottom, #f70 0%, #f78e21 100%);
    background-repeat: repeat-x;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.075) inset;
}
.navbar-text {
    font-size: 1em;
}
.navbar-nav {
    font-size: 1.2em;
}
#fp-nav ul li a span {
    background: #f78e21;
}
#fp-nav ul li .fp-tooltip {
    font-family: "Microsoft YaHei";
    color: #f78e21;
}
#about{
    margin-top:53px;
    background: url("../img/about-back.jpg") no-repeat;
}
.about-right {
    background-color: rgba(204,204,204,0.6);
    font-size:1.1em;
    line-height:3em;
    height:100%;
    border-radius: 10px;
    box-shadow: 5px 5px 1px #888888;
}

#service{
    margin-top:53px;
    background: url("../img/service-back.jpg") no-repeat;
}

.service01 {
    background-color: rgba(204,255,255,0.6);
    box-shadow:5px 5px 1px #888888;
    height:100%;
    margin-left: 8%;
    padding-top: 2%;
}
.service02 {
    background-color: rgba(204,255,255,0.6);
    box-shadow:5px 5px 1px #888888;
    height:100%;
    margin-left:4%;
    padding-top: 2%;
}
.service03 {
    background-color: rgba(204,255,255,0.6);
    box-shadow:5px 5px 1px #888888;
    height:100%;
    margin-left:4%;
    margin-right:8%;
    padding-top: 2%;
}
.line {
    background: url("../img/service_04.png") repeat-x;
    padding:200px ;
}

#contact{
    margin-top:53px;
    background: url("../img/contact-back.jpg") no-repeat;
}
footer {
    padding: 20px 0;
}


