{% extends "base.html" %}
{% load pages_tags mezzanine_tags i18n staticfiles %}

{% block meta_title %}{% trans "Home" %}{% endblock %}
{% block title %}{% trans "Home" %}{% endblock %}
{% block main %}
    <!-- Slide Section -->
    <section id="slide" class="slide-section">
        <div id="slider">
            <div class="flexslider">
                <ul class="slides">
                    <li><img src="{% static "img/slide1-low.jpg" %}" onload="this.src='{% static "img/slide1.jpg" %}'"
                             alt=""/></li>
                    <li><img src="{% static "img/slide2-low.jpg" %}" onload="this.src='{% static "img/slide2.jpg" %}'"
                             alt=""/></li>
                    <li><img src="{% static "img/slide3-low.jpg" %}" onload="this.src='{% static "img/slide3.jpg" %}'"
                             alt=""/></li>
                    <li><img src="{% static "img/slide4-low.jpg" %}" onload="this.src='{% static "img/slide4.jpg" %}'"
                             alt=""/></li>
                </ul>
            </div>
        </div>
    </section>
    <!-- About Section -->
    <section id="about" class="about-section">
        <img src="{% static "img/about.jpg" %}" alt="/">
    </section>

    <!-- Services Section -->
    <section id="services" class="services-section">
        <img src="{% static "img/service.jpg" %}" alt="/">
    </section>

    <!-- Contact Section -->
    <section id="contact" class="contact-section">
        <img src="{% static "img/contact.jpg" %}" alt="/">
    </section>
{% endblock %}

