{% extends "base.html" %}
{% load pages_tags mezzanine_tags i18n staticfiles %}

{% block meta_title %}{% trans "Home" %}{% endblock %}
{% block title %}{% trans "Home" %}{% endblock %}
{% block main %}
    <div id="fullpage">
        <div class="section " id="slide">
            <div class="flexslider">
                <ul class="slides">
                    <li><img src="{% static "img/slide1-low.jpg" %}" onload="this.src='{% static "img/slide1.jpg" %}'"
                             alt=""/></li>
                    <li><img src="{% static "img/slide2-low.jpg" %}" onload="this.src='{% static "img/slide2.jpg" %}'"
                             alt=""/></li>
                    <li><img src="{% static "img/slide3-low.jpg" %}" onload="this.src='{% static "img/slide3.jpg" %}'"
                             alt=""/></li>
                    <li><img src="{% static "img/slide4-low.jpg" %}" onload="this.src='{% static "img/slide4.jpg" %}'"
                             alt=""/></li>
                </ul>
            </div>
        </div>
        <div class="section" id="about">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 about-left">
                    <img src="{% static "img/about-left.png" %}" class="img-responsive">
                </div>
                <div class="col-md-2 about-right">
                    <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp深圳金锐生物科技有限公司是专注于畜牧业领域的高通量测序和生物信息分析服务公司，拥有一流的软硬件设施平台和一支经验丰富的专业人才团队，致力于提供国内领先的高通量测序、生物信息分析及相关技术转化应用的科研服务。金锐生物聚焦于分子标记辅助育种、微生物组学和微生物生态制剂等前沿领域，将秉承专业、高效、高质量的服务理念，与您一同探索高通量测序技术在畜牧业领域的应用，共创科研成果及技术转化应用的辉煌。</p>
                </div>
                <div class="col-md-1"></div>
            </div>

        </div>
        <div class="section" id="service">
            <div class="row">
                <div class="col-md-3 service01">
                    <img src="{% static "img/service_01.png" %}" class="img-responsive">
                    <div class="content">
                        <h2>基因组测序分析</h2>
                        <h3>检测变异位点</h3>
                        <h3>BSA性状定位</h3>
                        <h3>挖掘功能基因</h3>
                        <h3>群体进化研究</h3>
                    </div>
                </div>
                <div class="col-md-3 service02">
                    <img src="{% static "img/service_02.png" %}" class="img-responsive">
                    <div class="content">
                        <h2>微生物组测序分析</h2>
                        <h3>单菌基因组测序</h3>
                        <h3>宏基因组测序</h3>
                        <h3>16S/18S/ITS等扩增子测序</h3>
                    </div>
                </div>
                <div class="col-md-3 service03">
                    <img src="{% static "img/service_03.png" %}" class="img-responsive">
                    <div class="content">
                        <h2>转录组测序分析</h2>
                        <h3>真核转录组测序</h3>
                        <h3>原核转录组测序</h3>
                        <h3>LncRNA测序</h3>
                        <h3>Small RNA测序</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="section" id="contact">
            <div class="col-md-2 col-md-offset-2 detail">
                <h1>联系我们</h1>
                <address>
                    <h2>地址：深圳市光明新区观光路3009号留创园403室</h2>
                    <h2>电话：021-5100-1612</h2>
                    <h2>邮箱：<a href="mailto:support@realbio.cn">support@realbio.cn</a> </h2>
                    <h2>微信：jinruibio</h2>
                    <img src="{% static "img/weixin.jpg" %}" class="img-responsive">
                    <h2>友情链接：<a href="http://realbio.cn">上海锐翌</a>&nbsp;&nbsp;<a href="http://www.chengnong.com">深圳金新农</a></h2>
                </address>
            </div>
            <div class="col-md-8 map">
                <img src="{% static "img/contact01.png" %}" class="img-responsive">
            </div>
        </div>
    </div>
{% endblock %}

